extends ../../common/main
block content
    .container
        .row
            .col-lg-6.offset-lg-3
                form.text-center.border.border-inverse.p-5.signin_form
                    #flash
                        if flash.message
                            p.alert.alert-danger= flash.message
                        if flash.room
                            input(type="hidden", value=flash.room)
                    p.h4.mb-4 Sign in
                    p(id="form-alert", class="alert alert-danger", style="display:none;")
                    input#email.form-control.mb-4(type='text', placeholder='Username')
                    input#password.form-control.mb-4(type='password', placeholder='Password')
                    .d-flex.justify-content-around
                        div
                            .custom-control.custom-checkbox
                                input#defaultLoginFormRemember.custom-control-input(type='checkbox')
                            label.custom-control-label(for='defaultLoginFormRemember') Remember me
                    button.btn.btn-info.btn-block.my-4(type='submit') Sign in
                    p
                        | Not a member? 
                        a(href='/users') Create Account
    script.

        let host_url = '#{ host }';
        
        $('form').submit(function(e) 
        {
            e.preventDefault();
            
            let email = ($('#email').val()).trim();
            let password = $('#password').val().trim();
            
            if (email == "" || password == "")
            {
                $('#form-alert').show();
                $('#form-alert').html("Username/Password can't be blank");
                return false;
            }

            $('#form-alert').hide();
            $('#form-alert').html('');

            $.ajax({
                type: 'POST',
                url: '//' + host_url + '/users/login',
                contentType:  'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify({ 'username': email, 'password': password, s:flash }),
                success: function(response) {
                    if (response.status == 'error') 
                    {
                       $('#form-alert').show();
                       $('#form-alert').html("Invalid Username/Password");
                    } 
                    else 
                    {
                        if (response.room) 
                            window.location.replace('//' + host_url + '/community/room/'+response.room)
                        else 
                            window.location.replace('//' + host_url + '/community/');
                    }
                },
                failure: function(error) 
                {
                    $('#form-alert').show();
                    $('#form-alert').html("Unknown error: try again");
                }
            });
        });
