<!DOCTYPE html>
<html lang="en">
<head>
	<% include common/meta %>
</head>
<body>

<header>
    <% include common/header %>
</header>


<footer>
	
	 <% include common/header %>
</footer>

</body>
</html>