 * { margin: 0; padding: 0; box-sizing: border-box; }
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:#272B30;
}

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#userList { min-height: 100%; }
#messageViewport { min-height: 100%; height: calc(100vh-20px); }
#messageContainer {
    max-height: 100%;
    overflow-y: auto;
}
#content {
    max-height: calc(100% - 120px);
    padding: 0px 0px !important;
    margin-top: 0px !important;
    color: #F5F5F5;
}

.btn-transparent {
    background: transparent;
    border:0px;
}
#userList {
    color: #7FC1E8;
    
}

.bg-light { 
    background-color: #1e2125 !important;
}
.avatar {
    width: 30px;
    margin-right: 5px;
}

header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
}

footer {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
}