footer.container.py-5
    .row
        .col-12.col-md
            small.d-block.mb-3.text-muted &copy; 2018-2019
        .col-6.col-md
            h5 Links and Stuff
                ul.list-unstyled.text-small
                    li
                        a.text-muted(href="#") Link 1
                        a.text-muted(href="#") Link 2
                        a.text-muted(href="#") Link 3
                        a.text-muted(href="#") Link 4
                        a.text-muted(href="#") Link 5
                        a.text-muted(href="#") Link 6
        .col-6.col-md
            h5 Other Stuff.
                ul.list-unstyled.text-small
                    li
                        a.text-muted(href="#") Link 1
                        a.text-muted(href="#") Link 2
                        a.text-muted(href="#") Link 3
                        a.text-muted(href="#") Link 4
                        a.text-muted(href="#") Link 5
                        a.text-muted(href="#") Link 6