nav.navbar.navbar-expand-md.navbar-light.bg-light.align-self-center.bg-info
    .container
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContents" aria-controls="navbarContents" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        a.navbar-brand(href="/") Community
        #navbarContents.collapse.navbar-collapse.justify-content-center
            ul.navbar-nav.ml-auto
                li.li.nav-item.mr-3
                    a.nav-link(href="/sign-in") Sign in
                li.nav-item
                    a.nav-link.btn.btn-outline-primary.text-primary(href= "/get-started") Get Started