extends ../../common/layout
block content
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContents" aria-controls="navbarContents" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        a.navbar-brand(href="/") Community
        .collapse.navbar-collapse#navbarContents
            ul.navbar-nav.mr-auto.mt-2.lt-lg-0.float-right
                li.nav-item
                    a.nav-link(href="/") Home
                li.nav-item
                    a#logout.nav-link.float-right(href="#") Logout
    #content.h-100
        .continer-fluid.h-100
            .row.no-gutters.h-100
                #messageContainer.col-lg-10.col-md-10.col-sm-10
                    ul#messages
                .col-lg-2.bg-light.col-md-2.col-sm-2
                    div#userList.p-2
    footer.bg-dark
        form(action='./', method='post', id='chatForm')
            .container-fluid
                .row.no-gutters
                    .col-lg-10.p-2.col-md-10.col-sm-10
                        input(id='txt', class='form-control' autocomplete='off', autofocus='on', placeholder='type your message here...')
                    .col-lg-2.p-2.col-md-2.col-sm-2
                        button(class='btn btn-primary btn-block') Send

    script.
        let host_url = '#{ host }';
        let socket = io.connect(host_url);
        let channel = '#{ channel }';
        let chatName = '#{session.username}'

        socket.on('connect', function(){
            socket.emit('adduser', chatName, channel);
        })

        socket.on('updatechat', function(username, data){
            $('#messages').append($('<li>').html('<b>'+username+'</b>: ' + data));
            $('#messageContainer').animate({
                scrollTop: $("#messages li").last().offset().top
            },
            1000);
        })

        socket.on('updateusers', function(usernames) {
            
            $('#userList').html('');
            $.each(usernames, function(key, val){
                $('#userList').append($('<div id="val">').html(val));
            })
        });

        $('form').submit(function(e) {
            e.preventDefault();
            let txt = ($('#txt').val());
            if (txt.trim() == "")
                return;
                
            socket.emit('sendchat', txt);
            $('#txt').val('');

            return false;
        });

        $('#logout').click(function(e){
            
            e.preventDefault();
            
            $.ajax({
                type: 'POST',
                url: '//' + host_url + '/users/logout',
                contentType:  'application/json; charset=utf-8',
                data: JSON.stringify({ 'logout': true }),
                dataType: 'json',
                success: function(response){
                    if (response.status == 'ok') {
                        window.location.replace('//' + host_url + '/')
                    }
                    else {
                        
                    }
                },
                failure: function(error) {
                    $('.invalid-feedback').html('Username Taken');
                    $('#email').addClass('is-invalid');
                }
            });
        });