extends ../../common/main
block content
    .container
        .row.justify-content-center
            .card.get-started-card.shadow.p-3.mb-5.bg-white.rounded(style="max-width: 400px;")
                .card-body
                    .card-title
                        h5.font-weight-bold Join a community
                    .card-text
                        p#invite_code_validator.alert.alert-danger(style="display:none")
                        p.mb-2 Enter in the invite code, you should have received this by email 
                            |  or by a friend.
                            form#join-community.form-inline(action="#")
                                .col-auto.p-0
                                    input#invite_code.form-control.mb-2(type="text"  placeholder="Invite Code")
                                .col-auto.p-2
                                    button.btn.btn-primary.mb-2(type="submit") Join
                .card-body
                    .card-title
                        h5.font-weight-bold Create a community
                    .card-text
                        p#community_name_validator.alert.alert-danger(style="display:none")
                        p.mb-2 Enter in the name of your community
                            form#community_name_form.form-inline(action="#")
                                .col-auto.p-0
                                    input#community_name.form-control.mb-2(type="text"  placeholder="Community Name")
                                .col-auto.p-2
                                    button#create-community.btn.btn-primary.mb-2(type="submit") Create
    
    script.
        let host_url = '#{ host }';

        $('#community_name_form').submit(function(e)
        {
            e.preventDefault();
           console.log("Trying to submit.");

            resetValidatorLabel('#community_name_validator');

            let invite_code = $('#invite_code').val().trim();
            let communityName =  $('#community_name').val().trim();

            if (communityName == "")
            {
                
                $('#community_name_validator').show();
                $('#community_name_validator').html('Enter in a valid name');
                return false;
            }
            
            let data = { 'community_name': communityName }
            $.ajax({
                type: 'POST',
                url: '//' + host_url + '/community/create_community',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(data),
                success: function(response)
                {
                    console.log('response: ' + response);
                    if (response.status == 'ok')
                    {
                        if(response.valid)
                        {
                            window.location = '/community/room/' + response.community_id;
                        }
                        else
                        {
                           $('#community_name_validator').show();
                           $('#community_name_validator').html("Community name taken");
                        }
                    }
                },
                error: function(error) 
                {

                }
            })
        });

        $('#join-community').submit(function(e)
        {
            e.preventDefault();

            resetValidatorLabel('#invite_code_validator');

            let invite = $('#invite_code').val();

            if (invite == "" || invite.length != 8)
            {
                $('#invite_code_validator').html('Please enter a valid code');
                $('#invite_code_validator').show();
                return;
            }

            var data = { "invite_code": invite };

            $.ajax({
                 type: 'POST',
                url: '//' + host_url + '/community/join',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(data),
                success: function(response) 
                {
                    resetValidatorLabel('#invite_code_validator');

                    if (response.status == 'error')
                    {
                        $('#invite_code_validator').html('Error, invalid invite code');
                        $('#invite_code_validator').show();
                    }
                    else
                    {
                        window.location = '//' + host_url + '/community/room/' + response.community_id;
                    }
                },
                error: function(error)
                {
                    $('#form-alert').show();
                    $('#form-alert').html("Unknown error: try again");
                }
            });
        });

        function resetValidatorLabel(elementID)
        {
            $(elementID).hide();
            $(elementID).html('');
        }
