extends ../common/main
block content
    .container
        .row
            .col-lg-4.offset-lg-4
                form.text-center.border.border-inverse.p-5.signin_form
                    p.h4.mb-4 Create Account
                    p Create your free account, fill in the form below.
                    p#form-alert.hidden.alert.alert-danger
                    input#email.form-control.mb-4(type='text', placeholder='Username', required)
                    .valid-feedback Username Available!
                    .invalid-feedback Username Taken!
                    input#password.form-control.mb-4(type='password', placeholder='Password',  required)
                    .d-flex.justify-content-around
                    input#password-again.form-control.mb-4(type='password', placeholder='Password Again')
                    .d-flex.justify-content-around
                    button.btn.btn-info.btn-block.my-4(type='submit', id='create_account') Create Account

    script.

        let host_url = '#{ host }';

        $('#email').change(function(){
            //validate blank field.
            let email = ($('#email').val()).trim();
            $('#email').removeClass('is-invalid');
            $('#email').removeClass('is-valid');
            
            if (email === "") {
                $('#email').addClass('is-invalid');
                $('.invalid-feedback').html('Username Required');
                return;
            }

            $('#email > .is-invalid').html('Username Required');
            $.ajax({
                type: 'POST',
                url: '//' + host_url + '/users/check_username',
                contentType:  'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify({ 'username': $('#email').val() }),
                success: function(response){
                    if (response.available == true)
                    {
                        $('#email').addClass('is-valid');
                    }
                    else
                    {
                        $('.invalid-feedback').html('Username Taken');
                        $('#email').addClass('is-invalid');
                    }
                },
                failure: function(error) {
                    $('.invalid-feedback').html('Username Taken');
                    $('#email').addClass('is-invalid');
                }
            });
        });
        $('form').submit(function(e) {
            e.preventDefault();
            
            let email = ($('#email').val()).trim();
            let password = $('#password').val();
            let password_again = $('#password-again').val();
            
            if (password != password_again)
            {
                $('#form-alert').show();
                $('#form-alert').html('Password do no match');
                 
                return false;
            }
            else if (email == "")
            {
                $('#form-alert').show();
                $('#form-alert').html("Username can't be blank");
                 
                return false;
            }
            else
            {
                $('#form-alert').hide();
                $('#form-alert').html('');
                
                $.ajax({
                    type: 'POST',
                    url: '//' + host_url + '/users/create',
                    contentType:  'application/json; charset=utf-8',
                    dataType: 'json',
                    data: JSON.stringify({ 'username': email, 'password': password }),
                    success: function(response){
                        window.location.replace('//' + host_url + '/community')
                    },
                    failure: function(error) {
                        $('.invalid-feedback').html('Username Taken');
                        $('#email').addClass('is-invalid');
                    }
                });
            }
            
        });
